*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body{
  background-color: grey;
}

header{
  width: 100%;
  height: 30px;
  color: white;
  background-color: black;
  padding: 8px;
  padding-top: 8px;
  font-size: 24px;
}

.intro{
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 24px;
}

form{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submitBtn{
  display: flex;
  font-size: 18px;
  /* background-color: ; */
  justify-content: left;
  margin-left: 10px;
}

.currentWeather {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 24px;
  height: 250px;
}