*  
    { 
    margin: 0; 
    padding: 0; 
    border: 0; 
    font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #8A9BA7;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header{
  width: 100%;
  height: 30px;
  color: white;
  background-color: #B7EAF7;
  padding: 8px;
  padding-top: 8px;
  font-size: 24px;
}

.intro{
  display: flex;
  justify-content: center;
  padding: 25px;
  font-size: 24px;
}

.search-section{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.currentWeather {
  margin-top: 40px;
  font-size: 24px;
  height: 250px;
}
.weatherTitle{
  text-align: center;
  height: 25px;
  width: 100%;
  align-content: center;
}
.simpleWeather {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 200px;
  text-align: left;
  height: 200px;
  text-shadow: 1px 1px #727272;
  font-size: 26px;
}
h3{
  width: 50px;
  display: inline;
}
img{
  width: 50px;
  height: auto;
}
/* Button animation insipred by: https://www.fabriziovanmarciano.com/button-styles/ */
.btn{
  color: #494949 !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffffff;
  padding: 12px;
  border: 4px solid #494949 !important;
  display: inline-block;
  transition: all 0.4s ease 0s;
}

.btn:hover {
  color: #ffffff !important;
  background: #B7EAF7;
  border-color: #B7EAF7 !important;
  transition: all 0.4s ease 0s;
}
input{
  padding-left: 8px;
  background: #fff;
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, .3);
  font-size: 18px;
  width: 125px;
}

